{% extends 'common/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
欢迎注册
{% endblock %}

{% block page_content %}
    <style>
        .box{
            width: 600px;
        }
    </style>
    <div class="container box">
        {{ wtf.quick_form(form) }}

{#     <div class="input-group">#}
{##}
{#       <input id='location' class="form-control" onclick="$('#i-file').click();">#}
{#           <label class="input-group-btn">#}
{#               <input type="button" id="i-check" value="浏览文件" class="btn btn-primary" onclick="$('#i-file').click();">#}
{#           </label>#}
{#       </div>#}
{#   </div>#}
{#   <input type="file" name="file" id='i-file'  accept=".xls, .xlsx" onchange="$('#location').val($('#i-file').val());" style="display: none">#}
{#</div>#}
{#    </div>#}


{% endblock %}
