{% extends 'common/base.html' %}


{% block title %}
博客注册
{% endblock %}

{% block content %}
        <style>
    .ibox{
        width: 1000px;
        height: 300px;
        {#background: green;#}
        {#text-align: center;#}
    }
</style>
    <div class="container ibox center-block">
    <form class="form-horizontal"style="width: 800px">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" :focus="box-shadow" placeholder="用户名">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="邮箱">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">密&nbsp&nbsp&nbsp&nbsp码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="密码">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="密码">
    </div>
  </div>
   <div class="col-sm-offset-2 col-sm-10">
        <a href="http://127.0.0.1:5056/users/register/"><button type="button" class="btn btn-default">注册</button></a>
       <a href="http://127.0.0.1:5056/users/login/"><button type="button" class="btn btn-default">登录</button></a>

    </div>
 </div>

{% endblock %}