{% extends 'bootstrap/base.html' %}

{% block title %}

{% endblock %}
{% block header %}

{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://127.0.0.1:5056/?#">Ericの博客</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://127.0.0.1:5056/?#">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="/posts/posts">帖子</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">猜你喜欢 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://ac.qq.com/Comic/ComicInfo/id/505430">海贼王</a></li>
            <li><a href="https://ac.qq.com/Comic/ComicInfo/id/505432">火影忍者</a></li>
            <li><a href="https://ac.qq.com/Comic/ComicInfo/id/531490">一人之下</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://ac.qq.com/Comic/comicInfo/id/459651">星游记</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.bilibili.com/bangumi/media/md115472">刀剑神域</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/login/">登录</a></li>
          <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/register/">注册</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
    <div class="container">
    {% block page_content %}

    {% endblock %}
    </div>

{% endblock %}